
extends layout

block content

  a(href="/")
    button(class="mw-ui-button mw-ui-progressive" type="submit" value="Back to home page" style="margin: 10px;") Back to home
  - var statusPrint = ["Open", "Pending", "Finished", "Cancelled", "Absent", "Was never booked", "Other"]
  if students
    if students.length
      #startistform(style="text-align: center;")
        form(action="/students")
          label(for="students" style="font-size: 1.2em;") Select student:
          br
          select(name="studentid" id="studentid" style="font-size: 1.5em; display: inline;")
            each student in students
              option(value=student.sid) #{student.sname}
          input(class="mw-ui-button mw-ui-progressive mw-ui-big" type="submit" value="Log in" style="margin: 10px;")
  else
    // p No students found.
  if student
    #startistform(style="max-width:90%; margin: 0 auto;")
      if message
        div(style="width:100%; text-align: center; ")
          if message == "booked"
            div(style="background: #FFCCFF; text-align: center; max-width: 30em; float: center; margin: 0 auto;") Meeting booked successfully!
              br
          if message == "parseerror"
            div(style="background: #FFCCCC; text-align: center; max-width: 30em; float: center; margin: 0 auto;") Error: could not perform task.
              br
          br
          br
      div(style="text-align:center;")
          span(style="font-size: 1.2em;") Logged in as:
          br
          br
          span(style="font-size: 1.5em; display: inline;") #{student.sname}
          a(href="/students")
            div(class="mw-ui-button mw-ui-progressive mw-ui-big" style="margin: 15px; border: 4px; padding:4px; display: inline;") Log out
          br
          br
      fieldset()
        legend() Past meetings (<b>#{pastSlots.length}</b>)
        details()
          summary(style="opacity: 60%;") (click to expand/collapse)
          if pastSlots && pastSlots.length > 0
            form(method="GET", action="/students")
              input(type="hidden" name="studentid" value="#{student.sid}")
              input(type="hidden" name="action" value="rate")
              table
                tr
                  th(style="font-family: monospace; border-collapse: collapse; border: 0; text-align: left;") Time
                  th(style="font-family: monospace; border-collapse: collapse; border: 0; text-align: left;") Coach
                  th(style="font-family: monospace; border-collapse: collapse; border: 0; text-align: left;") Status
                  th(style="font-family: monospace; border-collapse: collapse; border: 0; text-align: left;") Score
                  th(style="font-family: monospace; border-collapse: collapse; border: 0; text-align: left; width: 20em;") Notes
                each slot in pastSlots
                  tr
                    td(style="font-family: monospace;") #{slot.timestamp}
                    td() #{slot.cname}
                    td() #{statusPrint[slot.status]}
                    td() #{slot.score}
                    td() #{slot.note}
      fieldset()
        - var unbookedCount = upcomingSlots.filter(slot => slot.status === 0).length
        - var bookedCount = upcomingSlots.filter(slot => slot.status === 1).length
        legend() Upcoming meetings: <b>#{upcomingSlots.length}</b>
        details()
          summary(style="opacity: 60%;") (click to expand/collapse)
          if upcomingSlots && upcomingSlots.length > 0
            table
              tr
                th(style="font-family: monospace; border-collapse: collapse; border: 0; text-align: left;") Time
                th(style="font-family: monospace; border-collapse: collapse; border: 0; text-align: left;") Coach
                th(style="font-family: monospace; border-collapse: collapse; border: 0; text-align: left;") Phone #
              each slot in upcomingSlots
                tr()
                  td(style="font-family: monospace;") #{slot.timestamp}
                  td() #{slot.cname}
                  td() #{slot.cphone}
      fieldset()
        legend() Meetings awaiting writeups (<b>#{actionNeededSlots.length}</b>)
        details()
          summary(style="opacity: 60%;") (click to expand/collapse)
          if actionNeededSlots && actionNeededSlots.length > 0
              table
                tr
                  th(style="font-family: monospace; border-collapse: collapse; border: 0; text-align: left;") Time
                  th(style="font-family: monospace; border-collapse: collapse; border: 0; text-align: left;") Coach
                  th(style="font-family: monospace; border-collapse: collapse; border: 0; text-align: left;") Status
                each slot in actionNeededSlots
                  tr
                    td(style="font-family: monospace;") #{slot.timestamp}
                    td() #{slot.cname}
                    td() #{statusPrint[slot.status]}
                    td() -
                    td() -
      fieldset()
        legend() Open meetings available to book (<b>#{openSlots.length}</b>)
        details()
          summary(style="opacity: 60%;") (click to expand/collapse)
          if openSlots && openSlots.length > 0
            form(method="GET", action="/students")
              input(type="hidden" name="studentid" value="#{student.sid}")
              input(type="hidden" name="action" value="book")
              table
                tr
                  th(style="font-family: monospace; border-collapse: collapse; border: 0; text-align: left;") Time
                  th(style="font-family: monospace; border-collapse: collapse; border: 0; text-align: left;") Coach
                  th(style="font-family: monospace; border-collapse: collapse; border: 0; text-align: left;") Select
                each slot in openSlots
                  tr
                    td(style="font-family: monospace;") #{slot.timestamp}
                    td() #{slot.cname}
                    td()
                      input(type='radio', name='select', value='coach-' + slot.coachid + 'timestamp-' + slot.timestamp)
              div(style="margin: 0 auto; text-align: center;")
                input(class="mw-ui-button mw-ui-progressive mw-ui-big" type="submit" value="Book meeting" style="margin: 10px; float: center; display: inline;") 